@import ../../sass/index
  
.nav
  gap: 30px
  &__header
    display: none
    @media screen and (min-width: $phone)
      display: flex
  &__link
    text-decoration: none
    &_header
      font-size: 22px
      font-weight: 400
      color: $secondary-color
      transition: $app-transition
      &.active, &:hover
        color: $third-color
    &_menu
      font-size: 30px
      font-weight: 400
      color: $secondary-color
      transition: $app-transition
      &.active, &:hover
        color: $third-color
  &__menu
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px