@import ../../sass/index

.header
  width: 100vw
  height: MIN(80px, 20vw)
  z-index: 5
  &__body
    margin: 0 auto
    width: MIN(1280px, 96vw)
    display: flex
    justify-content: space-between
    align-items: center

