@import ../../sass/index

.footer
  position: relative
  width: 100vw
  &__body
    margin: 0 auto
    width: $app-width
  &__info
    display: flex
    justify-content: space-between
  &__paragraph
    font-size: min(12px, 3vw)
    margin: 0 0 min(10px, 2vw) 0
    text-align: center
    opacity: 0.8
